/* Header parts  */

header {
  background: grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  flex-direction: row;
}

body{
  background-color:rgb(0, 41, 83);
  
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display:inline;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
}

.nav_item_label{
  color: white;
}


/* Landing page parts  */

.landing_page {
  display: flex;
  padding-right : 6%;
  padding-left: 8%;
  height:100vh;
  position: absolute;
  background-image: url("assets/home_triangle.png");
  background-repeat: no-repeat;
  background-attachment: scroll; 
  background-size: 100% 100%;

}


.landing_left_side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title_1 {
  width: 80% ;
  height: auto;
  font-size: 100px;
  display: flex;
  justify-content: end;

}

.landing_right_side {
  border: 4px solid rgb(191,191,190);
  display: flex;
  max-width: 600px;
  height: 600px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 30px;
  margin-top: 5%;
}

.greet_message{
  padding-top: 13%;
}

.arrow_img{
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow_down{
  max-width: 100%;
  max-height: 100%;
}

/*
.landing_triangle{
  border :2px solid rgb(0, 255, 34);
}






/* Calculation parts  */


.lean_button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fat_button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.maintain_button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.obj_selector {
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-around;
  border: 2px solid blue;
}
